* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f0f2f5;
}


.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 100px;
}

.fb-main {
  padding-top: 100px;
  padding-right: 30px;
}

.title {
  font-size: 55px;
  margin-bottom: 5px;
  color: #1473ef;
  font-weight: bold;
  letter-spacing: -1px;
}
.pfb {
  font-size: 30px;
}

.hero {
  background-color: white;
  width: 380px;
  height: 180px;
  border-radius: 15px;
}

.login {
  border-radius: 15px;
  background-color: #ffff;
  width: 380px;
  height: 180px;
  padding-bottom: 200px;
  margin: 30px;
  border-radius: 10px;
  box-shadow: 2px 2px 9px rgb(184, 184, 184), -1px -1px 5px rgb(184, 184, 184);
}

.emailPass {
  margin: 10px;
  margin-top: 20px;
  padding: 15px;
  width: 85%;
  background-color: #ffff;
  outline: none;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 5px;
  font-size: 15px;
}
.emailPass:focus {
  border: 0.1px solid #1877f2;
  box-shadow: 1px 1px 1px #1877f2, -1px -1px 1px #1877f2;
}

.btn-login {
  margin: 10px;
  padding: 15px;
  width: 95%;
  border-radius: 5px;
  background-color: #1877f2;
  color: #ffff;
  font-size: 20px;
  border: none;
  font-weight: bolder;
}

.a-forg {
  text-align: center;

  height: 50px;

  padding-top: 5px;
  background-color: white;
}
hr {
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgb(184, 184, 184);
  margin-top: 18px;
}

.a-forgotten {
  background-color: white;
  text-decoration: none;
  color: #1877f2;
  font-family: inherit;
}

.b-cre {
  text-align: center;
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 18px;
  padding: 15px;
  background-color: #42b72a;
  border-radius: 5px;
}

.btn-create {
  text-decoration: none;
  background: none;
  color: #ffff;
  font-weight: bolder;
  font-size: 17px;
  border: none;
}


.footer {
  width: 100%;

  height: 200px;
  background-color: white;
  word-spacing: 15px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  
}

.footer1 {
  width: 980px;
  margin: auto;
  height: 15px;
  line-height: 30px;
  font-size: 12px;
  color: #848484;
  background-color: #fff;
  padding-top: 50px;
}
.footer a {
  background-color: #fff;
  color: #8a8d91;
}

.footer1 a {
  display: inline;
  text-decoration: none;
}

.footer1 a:hover,.footer2 a:hover {
  text-decoration: underline;
}



.footer2 {
  width: 980px;
  margin: auto;
  height: 50px;
  line-height: 20px;
  font-size: 12px;
  color: #848484;
  background-color: #fff;
  justify-content: space-between;
  margin-top: 30px;
}

.footer2 a {
  min-width: 80px;
  text-decoration: none;
}


